h2 {
    padding: 0px;
    margin: 10px;
    font-size: 24px;
    color: #a9c7f8;
    position: relative;
}

fieldset {
    background-color: #faffff;
}

p {
    font-size: 16px;
    margin: 10px;
}

.editor-label {
    margin: 5px 10px;
}

.editor-field {
    margin: 10px;
}

.editor-field input {
    border-radius: 5px;
    border-color: #7abb84;
    height: 25px;
    border-style: solid;
    border-width: 2px;
}

legend {
    margin: 10px;
    font-size: 20px;
}

.validation-summary-errors li{
    margin: 2px;
    color: red;
}

.view-bag {
    color:red;
    margin: 10px;
}

.input-validation-error {
    background-color: #ffe7e7;
}

.field-validation-error {
    color: red;
    font-style: oblique;
}

.button input {
    padding: 10px 70px;
    margin: 0 10px;
    color: white;
    float:left;
    border-radius: 5px;
    border-style: none;
    background-color: #7abb84;
}