@media screen and (min-width: 1200px){
    .wrap {
        width: 980px;
        margin: 0 auto;
        position: relative;
    }
}
.header{
    height: 50px;
    padding: 5px 5px 2px 10px;
    margin-bottom: 5px;
    background-color: #67a0ff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.header span {
    float: right;
    font-size: small;
}

.header a {
    color: white;
    text-decoration: none;
}

h1{
    color: white;
    font-family: "Century Gothic";
    text-decoration: none;
    font-weight: normal;
}

.avatar{
    padding: 5px;
    width: 155px;
    height: auto;
}

.admin-page {
    margin: 0px 0px 8px 5px;
    text-align: center;
}
.admin-page a{
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 18px;
    width: 155px;
    color: white;
    background-color: #efc45c;
}
.info h2 {
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    color: white;
    position: relative;
}
.info {
    padding: 0px 5px;
    float: inherit;
    background-color: #a9c7f8;
    border-radius: 5px;
}

.left-side
{
    float: left;
}
.menu {
    padding: 10px 10px 10px 0px;
    width: 155px;
    margin: 0px 0px 0px 5px;
    background-color: #a9c7f8;
    border-radius: 5px; 
}

.menu li{
    font-family: "Century Gothic";
    color: #4289ff;
    padding: 15px 10px;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    margin: 0 0 0 -30px;
}

.menu a {
    color: white;
}

.search {
    padding: 10px 10px 10px 0px;
    width: 155px;
    margin: 0px 0px 0px 5px;
}

.search input {
    margin: 0;
    width: 130px;
    float: left;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    border-color: #a9c7f8;
    border-radius: 5px;
}
.search-button input{
    margin: 0 -9px -1px -9px;
    float: right;
    width: 31px;
    height: 31px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/search.png") center #a9c7f8;
    border: 0;
}

.right-side {
    margin: 0 0 0 180px;
    min-width: 450px;
    padding: 5px;
    font-family: "Calisto MT";
}

.right-side h3 {
    color: #4289ff;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}
.right-side p {
    margin: 10px 0;
    text-align: justify;
    text-indent: 25px;
}

.right-side span {
    float: right;
    margin: 8px;
    color: rgba(0, 139, 139, 0.78);
    font-size: 15px;
}
.post {
    padding: 0 0 40px 0;
}

.post hr {
    margin: 40px 0;
}

a {
    text-decoration: none;
    color: #4289ff;
}

a:hover {
    text-decoration: underline;
}

.like {
    float: right;
    padding: 0 5px;
    font-family: "Californian FB";
    font-weight: 700;
    font-size: 18px;
    color: #313131;
}
.like img {
    height: 20px;
    width: 20px;
    padding: 3px 5px;
}

.selected {
    background-color: #67a0ff;
    width: 135px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 20px;
}

.comments-title {
    background-color:#7abb84;
    color: white;
    padding: 5px;
    font-size: 18px;
    font-family: 'Calisto MT';
    border-radius: 5px;
}

.current-post hr {
    margin: 40px 0 0 0;
    border: hidden;
}

.comment-editor {
    margin:5px 7px;
}

.comment textarea {
    border-radius: 5px;
    border-color: #7abb84;
    border-width: 2px;
    margin: 0;
}

.comment input {
    padding: 10px;
    margin: -5px 6px 0 0;
    float:right;
    color: white;
    border-radius: 5px;
    border-style: none;
    background-color: #7abb84;
}

.add-post {
    margin: 0px -5px 10px -5px;
    width: auto;
    text-align: center;
    background-color: #7abb84;
    padding: 5px;
    border-radius: 5px;
}

.add-post a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 0px 300px;
    text-align: center;
    text-decoration: none;
    background-color: #7abb84;
}

.editor-label-post {
    padding: 5px;
    text-align: center;
    margin: 0 -5px -5px 0;
    background-color:#7abb84;
    font-size: 18px;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.editor-field-post {
    margin: 5px 0;
}

.editor-field-post input {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: #7abb84;
    width: 791px;
    height: 25px;
    border-style: solid;
    border-width: 2px;
}

.editor-field-post textarea {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 450px;
    border-style: solid;
    border-width: 2px;
    border-color: #7abb84;
    width: 787px;
    height: 500px
}

.button input {
    padding: 10px 70px;
    margin: 0 -5px;
    float:right;
    color: white;
    border-radius: 5px;
    border-style: none;
    background-color: #7abb84;
}

.validation-summary-errors {
    color: red;
    font-size: 18px;
}