@model BlogProject.Models.PostsViewModel
<link rel="stylesheet" href="../../Content/css/arhives.css">
<div class="arhiv">
        <table>
            <tr style="color: #1255ed">
                <th style="text-align: center" width="120px">Date</th>
                <th style="text-align: center" width="700px">Name of post</th>
            </tr>
    @foreach (var p in Model.PostView)
    {
        <tr>
            <th>@p.PostTime.ToShortDateString()</th>
            <th>@p.Title</th>
        </tr>
    }
        </table>
    </div>