<link rel="stylesheet" href="../../Content/css/arhives.css">
<div class="arhiv">
        <table>
            <tr style="color: #1255ed">
                <th style="text-align: center" width="120px">Date</th>
                <th style="text-align: center" width="700px">Name of post</th>
            </tr>
        <tr>
            <th>August 30, 2016</th>
            <th>Big company advertising</th>
        </tr>
        <tr>
            <th>August 30, 2016</th>
            <th>Big company advertising</th>
        </tr>
        <tr>
            <th>August 30, 2016</th>
            <th>Big company advertising</th>
        </tr>
        <tr>
        <th>August 30, 2016</th>
        <th>Big company advertising</th>
        </tr>
        <tr>
            <th>August 30, 2016</th>
            <th>Big company advertising</th>
        </tr>
        </table>
    </div>