@model BlogProject.Models.PostsViewModel
@{
    ViewBag.Title = "Arhive";
}
<link rel="stylesheet" href="../../Content/css/arhives.css">
<div class="arhiv">
        <table>
            <tr>
                <th style="text-align: center" width="120px">Date</th>
                <th style="text-align: center" width="700px">Name of post</th>
            </tr>
    @foreach (var p in Model.PostView)
    {
        <tr>
            <td style="text-align:center">@p.PostTime.ToShortDateString()</td>
            <td>@Html.ActionLink(p.Title, "CurrentPost", "Home", new { postId = p.PostId }, null)</td>
            @if (ViewContext.RouteData.Values["username"].ToString() == User.Identity.Name || Model.Users.First(u => u.Username == User.Identity.Name).Roles == "moderator")
            {
                using (Html.BeginForm("DeletePost", "Home", FormMethod.Post)) 
                {
                    @Html.Hidden("postId", p.PostId)
                    <td style="border:none"><input type="submit" value="Delete"/></td>
                }
            }
        </tr>
    }
        </table>
    </div>