<link rel="stylesheet" href="../../Content/css/info.css">
<table class="user-inform">
        <tr>
            <th>First Name: </th>
            <th>Jason</th>
        </tr>
        <tr>
            <th>Last Name: </th>
            <th>Statham</th>
        </tr>
        <tr>
            <th>Age: </th>
            <th>49</th>
        </tr>
        <tr>
            <th>Fone: </th>
            <th>+3806559788</th>
        </tr>
        <tr>
            <th>Mail: </th>
            <th>StathamPishuStatusuVK@gmail.com</th>
        </tr>
        <tr>
            <th>Skype: </th>
            <th>StathamSkype</th>
        </tr>
</table>