<!DOCTYPE html>

<html>
<head>
    <title>Account.@ViewBag.Title</title>
    <link rel="stylesheet" href="../../Content/css/normalize.css">
    <link rel="stylesheet" href="../../Content/css/main.css">
</head>
<body>
    <div class="wrap">
        <header class="header">
            <h1>BLOG<span>@Html.Partial("_LogOnPartial")</span></h1>
        </header>
        <div class="userpart">
            @RenderBody()
        </div>
    </div>
</body>
</html>
